{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}


{# Margin settings #}
{% set mt = content.field_mt[0]['#markup'] is not null ? 'margin-top:' ~ content.field_mt[0]['#markup'] ~ 'px; ' : '' %}
{% set mb = content.field_mb[0]['#markup'] is not null ? 'margin-bottom:' ~ content.field_mb[0]['#markup'] ~ 'px; ' : '' %}
{% set ml = content.field_ml[0]['#markup'] is not null ? 'margin-left:' ~ content.field_ml[0]['#markup'] ~ 'px; ' : '' %}
{% set mr = content.field_mr[0]['#markup'] is not null ? 'margin-right:' ~ content.field_mr[0]['#markup'] ~ 'px; ' : '' %}

{# Padding settings #}
{% set pt = content.field_pt[0]['#markup'] is not null ? 'padding-top:' ~ content.field_pt[0]['#markup'] ~ 'px; ' : '' %}
{% set pb = content.field_pb[0]['#markup'] is not null ? 'padding-bottom:' ~ content.field_pb[0]['#markup'] ~ 'px; ' : '' %}
{% set pl = content.field_pl[0]['#markup'] is not null ? 'padding-left:' ~ content.field_pl[0]['#markup'] ~ 'px; ' : '' %}
{% set pr = content.field_pr[0]['#markup'] is not null ? 'padding-right:' ~ content.field_pr[0]['#markup'] ~ 'px; ' : '' %}

{% set id = content.field_id[0]['#context']['value'] is not null ? 'id="' ~ content.field_id[0]['#context']['value'] ~ '" ': '' %}
{% set class = content.field_classes[0]['#context']['value'] is not null ? content.field_classes[0]['#context']['value'] : '' %}


{# Animation  #}
{# wartość pola nadpisywana w pliku .theme  #}
{% set animation = content.field_animate[0]['#markup'] is not null ? 'data-aos=' ~ content.field_animate[0]['#markup']  : '' %}
{% set animation_duration = content.field_animate_duration[0]['#markup'] is not null ? 'data-aos-duration=' ~ content.field_animate_duration[0]['#markup']  : '' %}
{% set animation_delay = content.field_animate_delay[0]['#markup'] is not null ? 'data-aos-delay=' ~ content.field_animate_delay[0]['#markup']  : '' %}

{% set content_align = content.field_align.0 is not null ? content.field_align.0 : 'left' %}
{% set content_valign = content.field_valign.0 is not null ? content.field_valign.0 : 'center' %}

<div{{attributes.addClass(classes)}}>
	<div {{id}} class="{{class}}" {{animation}} {{animation_duration}} {{animation_delay}} style="{{ mt ~ mb ~ ml ~ mr ~ pt ~ pb ~ pl ~ pr }}">
		<div class="d-flex align-items-{{content_valign}} justify-content-{{content_align}}">
			{{ title_prefix }}
			{% if label %}
				{# <h2{{title_attributes}}>{{ label }}</h2> #}
			{% endif %}
			{{ title_suffix }}

			{% embed 'dafr_sub_barrio:text' with {
				attributes: create_attribute(), 		 	
			} %}
				{% block content %}
					{{ content.field_body }}
				{% endblock %}
			{% endembed %}
		</div>
	</div>
</div>


