{% set random_id = random() %}

{% if bg_image %}
	{% set bg_style = "background-image:url('" ~ bg_image ~ "');background-repeat: no-repeat; background-position: center center" %}
{% else %}
	{% set bg_style = "background-color:" ~ bg_color %}
{% endif %}

<div {{ attributes }}>
	<div id="banner-{{random_id}}" class="dafr__Banner" style="height:{{height}}">
		<div class="dafr__banner-content">
			<div class="dafr__banner-container {{container}} d-flex align-items-{{content_valign}} justify-content-{{content_align}}">
				<div style="color:{{text_color}}; max-width:{{width}}; text-align:{{content_align}}">
					<div>
						{% block title %}{% endblock %}
					</div>
					<div>
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div class="dafr__banner-bg {{parallax}}" data-rellax-speed="-7" data-rellax-percentage="0.5" style="{{bg_style}}; background-repeat: no-repeat; background-position: center center;"></div>
	</div>
</div>
