{% set random_id = random() %}
{% set bg_style = bg_image ? "background-image:url('" ~ bg_image ~ "');" : '' %}

{% set delay = 0 %}
<div {{ attributes }}>
	<div id="banner-{{random_id}}" class="dafr__Banner" style="height:{{height}}">
		<div class="dafr__banner-content ">
			<div class="dafr__banner-container {{container}} d-flex align-items-{{content_valign}} justify-content-{{content_align}}">
				<div class="content-inner {{blenda}}" style="color:{{text_color}}; max-width:{{width}}; text-align:{{content_align}}">										
					<div class="titles">
						<h4 class="sub-title" {{animation_s}} {{animation_dur}}>{{subtitle}}</h4>					
						{# {% set delay = animation_del  %} #}
						<div class="title" style="color:{{text_color}} !important" {{animation_s}} {{animation_dur}} data-aos-delay={{delay}}>
							<h1 class="t1">{{ title.0['#markup']|raw }}</h1> <h1 class="t2">{{title_span.0['#markup']|raw }}</h1> <h1 class="t3">{{ title2.0['#markup']|raw  }}</h1>						
						</div>
						{# {% set delay = animation_del * 2 %} #}
					</div>
					<div class="content"  {{animation_s}} {{animation_dur}} data-aos-delay={{delay}}>
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div class="dafr__banner-bg "  >
			{% if bg_type == 'video' %}			
				<div class="background-video-container" >
					{% block video %}{% endblock %}						
					<div class="overlay"></div>
				</div>
			{% else %}
			<div class="background-image-container" >
				{# {% block image %}{% endblock %} #}
				<div class="parallax-window" style="min-height:{{height}}" data-parallax="scroll" data-image-src="{{bg_image}}"></div>
				<div class="overlay"></div>
			</div>
			{% endif %}		
		</div>
	</div>
</div>
