
	{% block footer %}
		<div class="{{ container }}">
			{% if page.footer_top %}
				<div class="site-footer__top clearfix">
					{{ page.footer_top }}
				</div>
			{% endif %}

			{% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
				<div class="site-footer__content clearfix">
					{{ page.footer_first }}
					{{ page.footer_second }}
					{{ page.footer_third }}
					{{ page.footer_fourth }}
				</div>
			{% endif %}

			{% if page.footer_bottom %}
				<div class="site-footer__bottom">
					{{ page.footer_bottom}}
				</div>
			{% endif %}

			<div class="site-footer__copyright">
					© Copyright Abel iT 2024. All Rights Reserved.
			</div>

		</div>
	{% endblock %}

