{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}


{# Margin settings #}
{% set mt = content.field_mt[0]['#markup'] is not null ? 'margin-top:' ~ content.field_mt[0]['#markup'] ~ 'px; ' : '' %}
{% set mb = content.field_mb[0]['#markup'] is not null ? 'margin-bottom:' ~ content.field_mb[0]['#markup'] ~ 'px; ' : '' %}
{% set ml = content.field_ml[0]['#markup'] is not null ? 'margin-left:' ~ content.field_ml[0]['#markup'] ~ 'px; ' : '' %}
{% set mr = content.field_mr[0]['#markup'] is not null ? 'margin-right:' ~ content.field_mr[0]['#markup'] ~ 'px; ' : '' %}

{# Padding settings #}
{% set pt = content.field_pt[0]['#markup'] is not null ? 'padding-top:' ~ content.field_pt[0]['#markup'] ~ 'px; ' : '' %}
{% set pb = content.field_pb[0]['#markup'] is not null ? 'padding-bottom:' ~ content.field_pb[0]['#markup'] ~ 'px; ' : '' %}
{% set pl = content.field_pl[0]['#markup'] is not null ? 'padding-left:' ~ content.field_pl[0]['#markup'] ~ 'px; ' : '' %}
{% set pr = content.field_pr[0]['#markup'] is not null ? 'padding-right:' ~ content.field_pr[0]['#markup'] ~ 'px; ' : '' %}

{% set id = content.field_id[0]['#context']['value'] is not null ? 'id="' ~ content.field_id[0]['#context']['value'] ~ '" ': '' %}
{% set class = content.field_classes[0]['#context']['value'] is not null ? content.field_classes[0]['#context']['value'] : '' %}


{% set bg_image_url = '' %}
{% if content.field_bg_image is not empty and content.field_bg_image.0['#item'] is defined and content.field_bg_image.0['#item'].entity.uri.value is defined %}
	{% set bg_image_url = file_url(content.field_bg_image.0['#item'].entity.uri.value) %}
{% endif %}


{% set container_style = content.field_container[0]['#markup'] %}

{% set parallax_style = content.field_parallax.0['#markup'] == "1" ? 'rellax' : '' %}

{% if container_style == "container (1320px)" %}
	{% set kont = 'container' %}
{% elseif container_style == "container-XL (1520px)" %}
	{% set kont = 'container-xl' %}
{% elseif container_style == "container-XXL (1720px)" %}
	{% set kont = 'container-xxl' %}
{% elseif container_style == "full-width" %}
	{% set kont = 'full-width' %}
{% else %}
	{% set kont = '' %}
{% endif %}

<div{{attributes.addClass(classes)}}>
  <div {{id}} class="{{kont}} {{class}}" style="{{ bg ~ mt ~ mb ~ ml ~ mr ~ pt ~ pb ~ pl ~ pr }}">

    {{ title_prefix }}
    {% if label %}
      {# <h2{{title_attributes}}>{{ label }}</h2> #}
    {% endif %}
    {{ title_suffix }}

    {% embed 'dafr_sub_barrio:images_parallax' with {
        attributes: create_attribute(),               
        'subtitle': content.field_subtitle, 
        'title': content.field_title, 
        'title2': content.field_title2, 
        'title_span': content.field_title_span,         
        'bg_image' : bg_image_url,
        'content_align' : content.field_content_align.0,
        'content_valign' : content.field_content_valign.0,
        'text_color': content.field_text_color.0['#markup'],
        'bg_color': content.field_bg_color.0['#markup'],
        'style' : content.field_text_position.0,        
      } %}
      {% block content %}
        {{ content.field_body }}
      {% endblock %}
      {% block image1 %}
        {{ content.field_obraz1}}
      {% endblock %}
      {% block image2 %}
        {{ content.field_obraz1}}
      {% endblock %}
    {% endembed %}
  </div>
</div>
